body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1006px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:510px;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:510px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:247px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:26px;
}
#u1519 {
  position:absolute;
  left:168px;
  top:478px;
  width:443px;
  height:26px;
}
#u1520 {
  position:absolute;
  left:2px;
  top:5px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:34px;
}
#u1521 {
  position:absolute;
  left:162px;
  top:465px;
  width:193px;
  height:34px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:9px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:34px;
}
#u1523 {
  position:absolute;
  left:418px;
  top:467px;
  width:193px;
  height:34px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:9px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:9px;
}
#u1525 {
  position:absolute;
  left:148px;
  top:503px;
  width:519px;
  height:9px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:-4px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:16px;
}
#u1527 {
  position:absolute;
  left:162px;
  top:456px;
  width:449px;
  height:16px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:0px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:21px;
}
#u1529 {
  position:absolute;
  left:168px;
  top:454px;
  width:437px;
  height:21px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:2px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:7px;
}
#u1531 {
  position:absolute;
  left:156px;
  top:496px;
  width:477px;
  height:7px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:-4px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:34px;
}
#u1533 {
  position:absolute;
  left:629px;
  top:477px;
  width:164px;
  height:34px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:9px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:21px;
}
#u1535 {
  position:absolute;
  left:611px;
  top:498px;
  width:310px;
  height:21px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:2px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u1537 {
  position:absolute;
  left:745px;
  top:472px;
  width:40px;
  height:29px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u1539 {
  position:absolute;
  left:773px;
  top:472px;
  width:23px;
  height:26px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
