body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:948px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:948px;
}
#u57 {
  position:absolute;
  left:2px;
  top:466px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:791px;
}
#u58 {
  position:absolute;
  left:306px;
  top:0px;
  width:934px;
  height:791px;
}
#u59 {
  position:absolute;
  left:2px;
  top:388px;
  width:930px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1605px;
  height:706px;
}
#u60 {
  position:absolute;
  left:276px;
  top:69px;
  width:1605px;
  height:706px;
}
#u61 {
  position:absolute;
  left:2px;
  top:345px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:273px;
}
#u62 {
  position:absolute;
  left:1442px;
  top:509px;
  width:419px;
  height:273px;
}
#u63 {
  position:absolute;
  left:2px;
  top:128px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:275px;
}
#u64 {
  position:absolute;
  left:1402px;
  top:511px;
  width:99px;
  height:275px;
}
#u65 {
  position:absolute;
  left:2px;
  top:130px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:256px;
}
#u66 {
  position:absolute;
  left:1511px;
  top:518px;
  width:91px;
  height:256px;
}
#u67 {
  position:absolute;
  left:2px;
  top:120px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u68 {
  position:absolute;
  left:1696px;
  top:515px;
  width:52px;
  height:40px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u70 {
  position:absolute;
  left:1727px;
  top:567px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u72 {
  position:absolute;
  left:1727px;
  top:627px;
  width:57px;
  height:16px;
  color:#0000FF;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:1680px;
  top:567px;
  width:29px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:1680px;
  top:587px;
  width:57px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:1680px;
  top:627px;
  width:29px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:1680px;
  top:648px;
  width:57px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u82 {
  position:absolute;
  left:1727px;
  top:679px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:1680px;
  top:679px;
  width:29px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:1680px;
  top:701px;
  width:57px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u88 {
  position:absolute;
  left:1727px;
  top:734px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:1680px;
  top:734px;
  width:29px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:1680px;
  top:755px;
  width:57px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:596px;
}
#u95 {
  position:absolute;
  left:764px;
  top:226px;
  width:808px;
  height:596px;
}
#u96 {
  position:absolute;
  left:2px;
  top:290px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:262px;
}
#u97 {
  position:absolute;
  left:794px;
  top:374px;
  width:614px;
  height:262px;
}
#u98 {
  position:absolute;
  left:2px;
  top:123px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u99 {
  position:absolute;
  left:770px;
  top:239px;
  width:47px;
  height:17px;
}
#u100 {
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:781px;
  top:237px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:163px;
}
#u103 {
  position:absolute;
  left:794px;
  top:378px;
  width:561px;
  height:163px;
}
#u104 {
  position:absolute;
  left:2px;
  top:74px;
  width:557px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1359px;
  top:746px;
  width:131px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:1055px;
  top:413px;
  width:300px;
  height:170px;
}
#u108 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:1142px;
  top:447px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:1223px;
  top:527px;
  width:70px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:1113px;
  top:527px;
  width:75px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
